@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');
html {
  font-family: 'Mingzat', san-serif;
  background-image: url("favicon-pokewhat.png");
  background-repeat: repeat;
  /*background-position: 20px 20px; sorry!!*/
  background-size: 50px 50px;
  animation: anime 15.0s steps(100) infinite;
}
@keyframes anime {
  100% { background-position: -8000px; }
}
.banner {
  text-align: center;
  font-size: 60pt;
  color: #000000;
}
.contentreg {
  text-align: center;
  font-size: 28pt;
  color: #000000;
}
.contentbck {
  border: 10px dashed black;
  padding: 25px;
  background: url("static/paper.gif");
  animation: anime 15.0s steps(100) infinite;
  background-repeat: repeat;
  background-origin: border-box;
}
